name: Release

on:
  workflow_call:

defaults:
  run:
    shell: bash # Convenience workaround for Windows.
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-linux
          - os: windows-latest
            target: x86_64-windows
            # Apple targets are not properly signed. Users will have to mark the binaries as secure manually.
          - os: macos-13
            target: x86_64-apple-darwin
          - os: macos-latest
            target: arm64-apple-darwin
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        # Should not be required, though `cargo: command not found` [2024/06/12]
        if: ${{ matrix.os == 'macos-13' }}
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install dependencies
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install libfuse2
          sudo wget "https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage" -O /usr/local/bin/appimagetool
          sudo chmod +x /usr/local/bin/appimagetool
          cargo install cargo-appimage
      - name: Build
        run: |
          cargo build --release --verbose
          if [[ $RUNNER_OS == "Linux" ]]; then
            cargo appimage
          fi
      - name: Prepare artifacts
        run: |
          mkdir "${{ matrix.target }}"
          version="$GITHUB_REF_NAME"
          artifact="wthrr-$version-${{ matrix.target }}"
          cp README.md LICENSE "${{ matrix.target }}/"
          if [[ $RUNNER_OS == "Windows" ]]; then
            mv "./target/release/wthrr.exe" "./${{ matrix.target }}/"
          else
            mv "./target/release/wthrr" "./${{ matrix.target }}/"
          fi
          if [[ $RUNNER_OS == "Linux" ]]; then
            mv ./wthrr.AppImage "./${{ matrix.target }}/$artifact.AppImage"
          fi
          echo "ARTIFACT=$artifact" >> "$GITHUB_ENV"
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ARTIFACT }}
          path: ${{ matrix.target }}/**

  deploy:
    needs: build
    if: github.ref_name == 'main' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: result
          path: ./artifacts
      - name: List
        run: find ./artifacts
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./artifacts/*.tar.gz, ./artifacts/*.AppImage

  publish:
    needs: build
    if: github.ref_name == 'main' && github.ref_type == 'tag'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Publish
        run: cargo publish --token ${{ secrets.CRATES_TOKEN }}
